*{
  padding: 0;
  margin: 0;
  border: 0;
}  

.header{
  display: flex;
}

.header_container{
  width: 1495px;
  height: 150px;
  display: flex;
  align-items: center;
  background-image: url(image/bg.png);
}
.header_img{
  margin: 5px 20px 10px 10px;
}

.header_logo_text h2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 87px;
  margin: 0 300px 0 15px;
}

.menu_items{
  margin: 13px 50px 0 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 65px;

}
.menu_items li a{
   color: #000000;
}
.menu_items li{
    list-style-type: none;
    color: #000000;
}

.menu_items a:link{
  text-decoration: none;
}

.menu_items a:visited{
    text-decoration: none;
}

.menu_items a:hover{
    border-bottom: solid 2px #000000;
    border-spacing: 0;
}

.main_container{
  height: 800px;
  displa: flex;
  align-items: center;
}

.aboutus_container{
  height: 1300px;
  displa: flex;
  align-items: center;
}

.main_text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 65px;
  justify-content: space-between;
  margin: 50px 110px 40px 110px ;
}

.hd1 h1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

}

.hd1 h2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

}

.main_img{
  display: inline-block;
  margin: 0 125px 0 110px;
}

.main_img img{
  width: 500px;
  height: 333px;
}

.aboutus_img_container{
  max-witdh: 1495px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.apps_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aboutus_img{
  width: 500px;
  display: inline-block;
  margin: 10px 55px 0px 180px;
}

.aboutus_img_text{
  margin-top: 50px;
  display: inline-flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 49px;
}

.left_container{
  width: 800px;
  display: flex;
  flex-direction: column;
}

.apps_img{
  display: flex;
  flex-wrap: wrap;
  margin: 75px 0 75px 20px;
}

.apps_img img{
  height: 220px;
  width: 325px;
}
.apps_img_text{
  margin: 5px 0 75px 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
}

.right_container{
  width: 650px;
  text-align: right;
}

.right_header{
  margin: 80px 0 40px 0;
}

.right_app{
  margin: 0 0 50px 0;
  font-size: 26px;
}

#p{
  margin-top: 40px;
  font-size: 22px;
}

.map{
  height: 500px;
  width: 800px;
  margin: 50px;
}

.contacts_img{
  display: flex;
  flex-direction: row;
  margin: 30px 0 30px 0;
}

.contacts_text{
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  margin-left: 25px;
  margin-top: 25px;
}
.footer{
  display: flex;
}

.footer_container{
  display: flex;
  align-items: center;
  width: 1495px;
  height: 150px;
  background-image: url(image/bg.png);
}

.footer_icon img{
  margin: 0 35px 0 0;
  width: 25px;
  height: 25px;
}

.footer_logo_text h2{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 87px;
  margin: 0 50px 0 50px;
}

#phonenumber{
  margin-top: 15px;
  margin-right: 70px;
}

#company{
  margin-top: 15px;
  margin-left: 250px;
  line-height: 50px;
}

@media(max-width: 576px){
     .main_text{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 100;
      font-size: 14px;
      line-height: 25px;
      justify-content: space-between;
      margin: 50px 110px 40px 110px ;
  }

  .main_img img{
      width: 200px;
      height: 150px;
  }
}

@media (max-width: 768px) { 
  .main_text{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 35px;
      justify-content: space-between;
      margin: 50px 110px 40px 110px ;
  }
   .main_img img{
      width: 250px;
      height: 175px;
  }

 }

@media (max-width: 992px) { 

  .main_text{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 45px;
      justify-content: space-between;
      margin: 50px 110px 40px 110px ;
  }

  .main_img img{
      width: 300px;
      height: 200px;
  }

 }

@media (max-width: 1200px) { 

  .main_text{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      justify-content: space-between;
      margin: 50px 110px 40px 110px ;
  }
    .main_img{
      display: inline-block;
      margin: 0 125px 30px 110px;
    }

    .main_img img{
      width: 300px;
      height: 200px;
    }

    .footer{
      display: flex;
    }

    .footer_container{
      display: flex;
      align-items: center;
      width: 1495px;
      height: 150px;
      background-image: url(image/bg.png);
  }

    .footer_icon img{
      margin: 0 35px 0 0;
      width: 15px;
      height: 15px;
    }

    .footer_logo_text h2{
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 65px;
      margin: 0 50px 0 50px;
    }
    #company{
      margin-top: 15px;
      margin-left: 175px;
      line-height: 20px;
    }
}